{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_title %}Dashboard min{% endblock %}

{% block main %}
    <div class="col-12">
        {{ render_chart(chart) }}

    </div>

    <div class="row">
    </div>








{% endblock %}
