{#{% extends 'base.html.twig' %}#}

{#{% block title %}Regardez dans votre adresse mail{% endblock %}#}

{#{% block body %}#}
{#    <div class="container mt-5">#}
{#        <div class="row justify-content-center">#}
{#            <div class="col-md-6">#}
{#                <div class="card shadow">#}
{#                    <div class="card-header bg-primary text-white">#}
{#                        <h4 class="mb-0">Veuillez vérifier vos mails, nous vous avons envoyé un mail afin vous créer un nouveau mot de passe</h4>#}
{#                    </div>#}

{#                </div>#}
{#            </div>#}
{#        </div>#}
{#        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">#}
{#    </div>#}

{#    <!-- Texte fixe en bas de la page -->#}
{#    <div class="container mt-5">#}
{#        <div class="row justify-content-center">#}
{#            <div class="col-md-8 text-center">#}
{#                <p class="bg-light p-3" style="border: 1px solid #ccc;"></p>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#{% endblock %}#}

{% extends 'base.html.twig' %}

{% block title %}Regardez dans votre adresse mail{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card shadow">
                    <div class="card-header bg-primary text-white">
                        <h4 class="mb-0">Veuillez vérifier vos mails, nous vous avons envoyé un mail afin de créer un nouveau mot de passe</h4>
                    </div>
                    <div class="card-body">
                        <!-- Vous pouvez ajouter du contenu supplémentaire ici -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Texte fixe en bas de la page -->
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8 text-center">
                <p class="bg-light p-3" style="border: 1px solid #ccc;">Merci de faire confiance à nos services </p>
            </div>
        </div>
    </div>
{% endblock %}

