{% extends 'base.html.twig' %}

{% block title %}Nouveau Mot de Passe{% endblock %}

{% block body %}

    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card shadow">
                    <div class="card-header bg-primary text-white">
                        <h4 class="mb-0">Nouveau Mot de Passe</h4>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            {{ form_start(form, {'attr': {'class': 'needs-validation', 'novalidate': ''}}) }}

                        {{ form_end(form) }}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    </div>

    <!-- Texte fixe en bas de la page -->
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8 text-center">
                <p class="bg-light p-3" style="border: 1px solid #ccc;">Merci d'entrer un code différent de votre mot de passe École Directe !</p>
            </div>
        </div>
    </div>
{% endblock %}
